.DisruptionInfo {
  padding: 3rem;
  padding-top: 1rem;
  box-sizing: border-box;
  background-color: rgb(18, 18, 18);
  min-height: 85%;
}

.Alert-info, .Alert-warning, .Alert-severe {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.Alert-info {
  background-color: rgba(34,159,255, 0.5);
}

.Alert-warning {
  background-color: rgba(255,255,110,0.5);
}

.Alert-severe {
  background-color: rgba(255,27,48,0.5);
}

.Alert-info:hover {
  background-color: rgba(34,159,255, 0.8);
}

.Alert-warning:hover {
  background-color: rgba(255,255,110,0.8);
}

.Alert-severe:hover {
  background-color: rgba(255,27,48,0.8);
}